<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="care.html">AFC Care</a></li>
					<li><a href="product.html">Product</a></li>
					<li><a href="news.html">News</a></li>
					<li><a href="">Sign In</a></li>
				</ul>
				<div class="col-md-6 afc-address mobile-view mt-3">
					<h4>AFC LIFE SCIENCE</h4>
					<p>St. Moritz - Lippo Puri Tower 19th Floor<br />
						Jl. Puri Indah Raya Boulevard<br />
						Kembangan, Jakarta Barat 11610</p>
					<ul class="phone">
						<li>
							<i class="fas fa-phone"></i><span><a href="https://wa.link/19jh0m" target="_blank">+62816 838
									232</a></span>
						</li>
						<li>
							<i class="fas fa-phone"></i><span><a href="https://wa.link/x05qb2" target="_blank">+62815 1914
									0199</a></span>
						</li>
						<li>
							<i class="fas fa-envelope"></i><span><a
									href="mailto:cs@afc-lifescience.com">cs@afc-lifescience.com</a></span>
						</li>
					</ul>
				</div>
				<p class="social-media">
					<a href="https://www.instagram.com/afclifescience/" target="_blank"><i class="fab fa-instagram"></i></a>
					<a href="https://www.facebook.com/LifeScience.co.id/" target="_blank"><i class="fab fa-facebook-f"></i></a>
					<a href="https://www.youtube.com/channel/UCdy9rRuaPZG5ImeLKK_2_0A" target="_blank"><i
							class="fab fa-youtube"></i></a>
				</p>
				<p class="copyright">Copyright @
					<script>document.write(new Date().getFullYear());</script> AFC Life Science. All rights reserved.
				</p>
				<p class="privacy">
					<a href="">Help & Guide</a>|
					<a href="https://afc-lifescience.com/faq/index.html">FAQ</a>|
					<a href="https://afc-lifescience.com/privacy-policy/index.html">Privacy & Policy</a>
				</p>
			</div>
			<div class="col-md-6 afc-address desktop-view">
				<h4>AFC LIFE SCIENCE</h4>
				<p>St. Moritz - Lippo Puri Tower 19th Floor<br />
					Jl. Puri Indah Raya Boulevard<br />
					Kembangan, Jakarta Barat 11610</p>
				<ul class="phone">
					<li>
						<i class="fas fa-phone"></i><span><a href="https://wa.link/19jh0m" target="_blank">+62816 838
								232</a></span>
					</li>
					<li>
						<i class="fas fa-phone"></i><span><a href="https://wa.link/x05qb2" target="_blank">+62815 1914
								0199</a></span>
					</li>
					<li>
						<i class="fas fa-envelope"></i><span><a
								href="mailto:cs@afc-lifescience.com">cs@afc-lifescience.com</a></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>