@import "./variable";

.page-about {
 color: $color-dark;

 .banner {
  position: relative;
  animation: fadeInAnimation ease 3s;

  > .container {
   position: absolute;
   left: 50%;
   top: 0;
   width: 100%;
   height: 100%;
   transform: translate(-50%, 0);

   > div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
   }
  }
 }

 .history-description {
  padding: 40px 0;

  .container {
   p,
   > div {
    text-align: center;
    display: inline-flex;
    align-items: flex-start;

    img {
     &.asayama {
      margin-right: 40px;
      width: 200px;
     }

     &.honzo {
      margin-left: 40px;
      width: 300px;
     }
    }

    + p {
     margin-top: 32px;
    }
   }
  }
 }

 .factory {
  .container {
   padding: 40px 0;

   h2 {
    font-weight: 700;
    font-size: 40px;
    color: $color-dark;
    text-align: center;
   }

   .list {
    display: flex;
    justify-content: center;

    ul {
     padding-left: 16px;
     margin-top: 16px;
     width: 100%;
     max-height: 100px;
     max-width: 80%;
     list-style: disc;
     display: inline-flex;
     flex-direction: column;
     flex-wrap: wrap;

     li {
      line-height: 32px;
     }
    }
   }
  }
 }

 .description {
  .logo {
   margin: 0 auto;
   margin-bottom: 60px;
   width: 440px;
   display: block;
  }

  ul {
   display: inline-flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: center;

   li {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: inline-flex;
    justify-content: center;
    margin: 20px 0;

    > div {
     max-width: 232px;
     display: inline-flex;
     flex-direction: column;
     align-items: center;

     > span {
      font-weight: 700;
      text-align: center;
     }
    }

    img {
     max-width: 142px;
    }
   }
  }

  h2 {
   margin-top: 32px;
   margin-bottom: 24px;
   font-weight: 300;
   font-size: 40px;
   letter-spacing: 8px;
   color: $color-dark;
   text-align: center;

   &.three-element {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 28px;
    letter-spacing: 1px;

    strong {
     font-weight: 700;
     text-transform: uppercase;
    }
   }
  }

  .desc-afc {
   line-height: 2;
  }
 }

 .muri {
  margin: 48px 0;
  padding: 48px 0;
  color: $color-white;

  &#parallax-muri {
   background-image: url("../images/about/bg-muri.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  }

  p {
   margin-bottom: 16px;
   text-align: center;
  }

  h1 {
   margin-bottom: 40px;
   font-size: 56px;
   font-family: "Times New Roman", Times, serif;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 4px;
  }

  ul {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 80px;

   li {
    text-align: center;

    span {
     margin-bottom: 24px;
     min-height: 92px;
     display: inline-block;
    }

    img {
     width: 224px;
    }
   }
  }
 }

 .success-stories {
  .container {
   text-align: center;
  }

  .container-success {
   padding: 40px 60px;
  }

  .grid-stories {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 0;
   row-gap: 40px;
   height: auto !important;

   .card-img,
   .card-img-top {
    border-radius: 0;
   }

   .stories-body {
    margin-top: 10px;
    padding: 0 16px;
    color: $color-dark;

    small {
     font-size: 12px;
    }

    p {
     font-size: 18px;
    }
   }

   .element-item {
    position: relative !important;
    top: auto !important;
    left: auto !important;
   }
  }

  .action-block {
   margin-bottom: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: $color-dark;

   button {
    background-color: transparent;
    border: 0;

    i {
     margin-right: 8px;
    }
   }
  }

  .button-box {
   margin-top: 24px;
   width: 100%;
   display: flex;
   justify-content: center;

   button {
    padding-bottom: 8px;
    font-size: 14px;
    color: $color-dark;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $color-dark;
   }
  }
 }

 .caption-stories {
  max-width: 600px;

  > small {
   margin-top: 8px;
   font-size: 12px;
   opacity: 0.6;
   display: block;
  }

  > p {
   font-size: 24px;
   line-height: 32px;
  }
 }

 .grow {
  color: $color-dark;
  text-align: center;

  h1 {
   font-weight: 500;
   font-size: 40px;
  }

  h2 {
   margin-bottom: 24px;
   font-weight: 700;
   font-size: 40px;
  }

  p {
   margin-bottom: 60px;
   line-height: 32px;
  }

  .youtube {
   height: 500px;
  }

  iframe {
   height: 500px;
  }

  .grid-about {
   margin: 24px 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;

   .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
    width: 100%;
   }
  }

  .gwk-slider {
   .slick-list,
   .slick-track {
    height: 100%;

    .slick-slide {
     .slider-item {
      > div {
       width: 100%;
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       min-height: 60vh;

       a {
        width: 100%;

        img {
         max-height: 60vh;
         visibility: hidden;
        }
       }
      }
     }
    }
   }
  }
 }

 @media (max-width: 767.98px) {
  section {
   &.banner {
    margin-top: 42px;
    height: 40vh;
    background-attachment: unset !important;
    background-image: url("../images/about/img-history.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;

    > img {
     display: none;
    }

    .container {
     position: relative;
    }
   }
  }

  .history-description {
   .container {
    p,
    > div {
     flex-direction: column;
     width: 100%;

     img {
      margin: 0 auto;
      margin-bottom: 32px;
      width: 100%;

      &.asayama {
       margin: 0 auto;
      }

      &.honzo {
       margin: 0;
       margin-top: 32px;
       width: 100%;
      }
     }
    }
   }
  }

  .factory {
   .container {
    h2 {
     font-size: 32px;
    }

    .list {
     ul {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      flex-wrap: nowrap;
     }
    }
   }
  }

  .description {
   h2 {
    font-size: 32px;
    letter-spacing: 4px;
   }

   .logo {
    width: 100%;
    max-width: 200px;
   }

   ul {
    li {
     flex: 0 0 50%;
     max-width: 50%;

     img {
      max-width: 100px;
     }

     > div {
      > span {
       font-size: 14px;
      }
     }
    }
   }
  }

  .muri {
   h1 {
    font-size: 36px;
   }

   ul {
    margin: -24px 0;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    max-width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
     height: 7px;
    }

    &::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
     border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
     background-color: rgba(255, 255, 255, 0.6);
     // outline: 1px solid #7c79bb;
     border-radius: 4px;
    }

    li {
     display: inline-flex;
     align-items: center;
     flex-direction: column-reverse;

     img {
      margin-bottom: 16px;
     }

     span {
      min-height: 0;
     }
    }
   }
  }

  .success-stories {
   .grid-stories {
    grid-template-columns: repeat(2, 1fr);
   }

   .container-success {
    padding: 40px 20px;
   }
  }

  .grow {
   h1 {
    font-size: 32px;
   }

   h2 {
    font-size: 32px;
   }

   .youtube {
    height: 400px;
   }

   #kementerian_kesehatan video {
    height: 240px !important;
   }

   .grid-about {
    margin: 16px 0;
    gap: 16px;

    .bg-img {
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 180px;
     width: 100%;
    }
   }

   .gwk-slider {
    .slick-list,
    .slick-track {
     .slick-slide {
      .slider-item {
       > div {
        min-height: 30vh;

        a {
         width: 100%;

         img {
          max-height: 30vh;
          content: "";
          width: 100%;
          height: 30vh;
          display: block;
         }
        }
       }
      }
     }
    }

    &.slick-slider {
     .arrow-slick {
      img {
       width: 24px;
       height: 24px;
      }
     }
    }
   }
  }
 }

 @media (max-width: 575.98px) {
  .success-stories {
   .grid-stories {
    grid-template-columns: 1fr;
   }

   .container-success {
    padding: 40px 20px;
   }
  }
  .grow {
   .youtube,
   video {
    height: 300px;
   }
  }
 }
}
